##################################
########### SARVCLIENT ###########
###### utype (Required)
####
## utype (str): The user type for authentication.
## Default=None
####
SARVCLIENT_UTYPE=

###### username (Required)
####
## username (str): The username for authentication.
## Default=None
####
SARVCLIENT_USERNAME=

###### password (Required)
####
## password (str): The password for authentication.
## is_password_md5 (bool): Whether the password is already hashed using MD5.
## Default=None
####
SARVCLIENT_PASSWORD=

###### is_password_md5 
####
## is_password_md5 (bool): Whether the password is already hashed using MD5.
## Default=False
####
SARVCLIENT_IS_PASSWORD_MD5=

###### url 
####
## url (Optional[str]): The base URL for the SarvCRM API if you use local instance.
## frontend_url (Optional[str]): The base URL for the SarvCRM frontend if you use local instance.
## Default=None
####
SARVCLIENT_URL=

###### frontend_url 
####
## frontend_url (Optional[str]): The base URL for the SarvCRM frontend if you use local instance.
## Default=None
####
SARVCLIENT_FRONTEND_URL=

###### login_type 
####
## login_type (Optional[str]): The login type for authentication.
## Default=None
####
SARVCLIENT_LOGIN_TYPE=

###### language 
####
## language (SarvLanguageType): The language to use, default is 'en_US'.
## Default=en_US
####
SARVCLIENT_LANGUAGE=

###### caching 
####
## caching (bool): Cache the responses from server.
## Default=False
####
SARVCLIENT_CACHING=

###### cache_backend 
####
## cache_backend(Literal['memory', 'sqlite']): Saving backend for cached responses.
## Default=memory
####
SARVCLIENT_CACHE_BACKEND=

##################################
#################################
########### AMICLIENT ###########
###### host 
####
## host (str): Hostname or IP address of the AMI server.
## Default=None
####
AMICLIENT_HOST=

###### port 
####
## port (int): TCP port to connect to.
## Default=None
####
AMICLIENT_PORT=

###### username 
####
## username (Optional[str]): AMI username.
## Default=None
####
AMICLIENT_USERNAME=

###### secret 
####
## secret (Optional[str]): AMI password.
## Default=None
####
AMICLIENT_SECRET=

###### auth_type 
####
## auth_type (Optional[Literal['plain', 'MD5']]): Authentication method.
## Default=None
####
AMICLIENT_AUTH_TYPE=

###### key 
####
## key (Optional[str]): Challenge key, used for MD5 authentication.
## Default=None
####
AMICLIENT_KEY=

###### events 
####
## events (Optional[Union[Literal['on', 'off'], list[str]]]): Event subscriptions or list.
## Default=None
####
AMICLIENT_EVENTS=

###### timeout 
####
## timeout (int): Socket connection timeout in seconds.
## Default=None
####
AMICLIENT_TIMEOUT=

###### socket_buffer 
####
## socket_buffer (int): Size of buffer for reading socket data.
## Default=None
####
AMICLIENT_SOCKET_BUFFER=

#################################
#################################
########### PHONEBOOK ###########
###### password 
####
## Default=None
####
PHONEBOOK_PASSWORD=

###### password_required 
####
## Default=False
####
PHONEBOOK_PASSWORD_REQUIRED=

###### local_only 
####
## Default=False
####
PHONEBOOK_LOCAL_ONLY=

#################################
#############################
########### FLASK ###########
###### host 
####
## Default=127.0.0.1
####
FLASK_HOST=

###### port 
####
## Default=8080
####
FLASK_PORT=

###### debug 
####
## Default=True
####
FLASK_DEBUG=

###### secret_key (Required)
####
## Default=None
####
FLASK_SECRET_KEY=

#############################
###########################
########### LOG ###########
###### level 
####
## Log level for the application.
## Default=INFO
####
LOG_LEVEL=

###### file 
####
## Log file for the application.
## Default=.log/application.log
####
LOG_FILE=

###########################
##############################
########### NETBOX ###########
###### url (Required)
####
## Default=None
####
NETBOX_URL=

###### token (Required)
####
## Default=None
####
NETBOX_TOKEN=

##############################
################################
########### TELEGRAM ###########
###### token (Required)
####
## Default=None
####
TELEGRAM_TOKEN=

###### chat_id (Required)
####
## Default=None
####
TELEGRAM_CHAT_ID=

###### thread 
####
## Default=None
####
TELEGRAM_THREAD=

################################