# Misc
requests
python-dotenv
classmods

# Flask
flask
flask-sqlalchemy

# API Connections
pynetbox
git+https://github.com/Hmohammad2520-org/py-ami-client.git
git+https://github.com/Radin-System/py-sarvcrm-api.git